{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 180,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"apexInsertFinalNewline": false,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		},
		{
			"files": "sfdx-project.json",
			"options": { "useTabs": false, "tabWidth": 2 }
		}
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"]
}
