{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 180,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"xmlSelfClosingSpace": true,
	"overrides": [
		{
			"files": "*.cls",
			"options": {
				"apexInsertFinalNewline": false,
				"parser": "apex"
			}
		},
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component,html}",
			"options": {
				"parser": "html",
				"tabWidth": 2,
				"useTabs": true,
				"bracketSameLine": true,
				"bracketSpacing": true,
				"embeddedLanguageFormatting": "auto",
				"htmlWhitespaceSensitivity": "ignore",
				"printWidth": 180
			}
		},
		{
			"files": "sfdx-project.json",
			"options": { "useTabs": false, "tabWidth": 2 }
		},
		{ "files": "*.{yml,yaml}", "options": { "parser": "yaml", "singleQuote": true } },
		{ "files": ".prettierrc", "options": { "parser": "json" } },
		{ "files": "*.xml", "options": { "useTabs": true, "parser": "xml" } }
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
